section{
    margin:auto;
    margin-top: 100px;
    width: 500px;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
body{
    background-color:rgb(245, 241, 195)  !important ;
}
h2,h5{
    text-align: center;
}
.submit{
    margin-bottom: 10px !important;
}

.noTiene{
    margin-top: 13px;
}